.git
.github
.gitignore
.gitattributes
.editorconfig
.dockerignore
.env
.env.*
!.env.example
node_modules
vendor
build
results
phpunit*.xml
tests/coverage*
writable/cache/*
writable/logs/*
writable/session/*
writable/debugbar/*
writable/uploads/*
!writable/uploads/.gitkeep
!writable/uploads/index.html
public/uploads/*
!public/uploads/.gitkeep
*.log
*.swp
*.swo
.idea
.vscode
Thumbs.db
.DS_Store
