app.baseURL = 'http://localhost:8080/'
database.default.hostname = <YOUR HOSTNAME MINE IS LOCALHOST>
database.default.database = <YOUR DATABASE NAME>
database.default.username = <YOUR DATABASE USERNAME>
database.default.password = <YOUR DATABASE PASSWORD>